# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments / env files
venv/
.venv/
env/
.env/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Export files
*.csv
*.csv.checkpoint

# AWS credentials
.aws/

# Pytest
.pytest_cache/
